<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SalesForce Connector</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logs">Fetch Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/search-logs">Search Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/manage-logs">Manage Logs</a>
                </li>
            </ul>
            <% if(authorized) { %>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/session-terminate" class="btn btn-dark w-100">Terminate Session</a>
                </li>
            </ul>
            <% } %>
        </div>
    </div>
</nav>